<div class="nested-fields">
    <div class="col-md-6">
      <label class="control-label">ガラスパーツ名</label>
        <%= f.collection_select :glass_id, Glass.all.order(:position), :id, :view_name_and_opal_color , include_blank: "選択して下さい" %>
    </div>
    <div class="col-md-6">
        <label class="control-label">個数</label>
        <%= f.text_field :quantity, placeholder: "半角数字"%>
    </div>
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
</div>
