<div class="nested-fields">
    <div class="col-md">
        <%= f.collection_select :part_id, Part.all.order(:position), :id, :view_material_and_name, {include_blank: "選択して下さい"} ,{ class:"parts-select"} %>
    </div>
    <i class="fas fa-times"></i>
    <div class="col-md">
        <%= f.text_field :quantity, placeholder: "半角数字", class:"parts-qty" %>
    </div>
    <%= link_to_remove_association '削除', f, class:"parts-delete" %>
</div>
