header a {
  color: white;
}

header {
  height: 15vh;
  background-color: #1f4570;
}

.header-container {
  display:flex;
  align-items: center;
}

.title-logo {
  height: 15vh;
}

.header-lists{
  display: flex;
}

.header-list {
  margin-right: 10px;
}