.invoice-date {
  height: 30px;
  width: 10vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-num {
  height: 30px;
  width: 10vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-cont {
  height: 30px;
  width: 12vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-client {
  height: 30px;
  width: 12vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

// invoice_item_fields

.nested-fields2 {
  width: 100%;
  margin-bottom: 15px;
}

.nested-row1 {
  width: 100%;
  margin-bottom: 5px;
}

.nested-row2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.invoice-item-name {
  height: 30px;
  width: 33vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-item-qty {
  height: 30px;
  width: 8vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-item-size {
  height: 30px;
  width: 8vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.invoice-item-price {
  height: 30px;
  width: 10vw;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 8px;
}

.control-label {
  font-size: 13px;
}

.invoice-submit-post {
  width: 100%;
  display:flex;
  justify-content: center;
}

.invoice-submit {
  width: 150px;
  height: 40px;
  color: #FFF;
  background-color: rgb(56, 123, 211);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.invoice-submit:hover {
  opacity: 0.7;
}

.fa-file-pdf {
  font-size: 17px;
  margin-right: 5px;
}