.container {
  padding:50px;
}

.sort_li {
  width: 250px;
  height: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 2px;
  border-radius: 4px;
}

.handle {
  font-size: 15px;
  padding-right: 5px;
  cursor: grab;
}

.opal_li {
  width: 250px;
  height: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: -1px;
}

.blue-background {
  background-color: rgb(190, 235, 253);
}

.preview-image img{
  width: 150px;
}

.item-name-search {
  height: 30px;
  width: 500px;
}

.item-lists th {
  text-align: left;
  height: 30px;
}

.item-lists td {
  width: 100px;
  height: 20px;
}