.container {
  padding: 50px 60px;
  margin: 50px auto;
  width: 84%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.title h1{
  float: left;
}

.sub-title {
  font-size: 15px;
  font-weight: bold;
  width: 92%;
  padding: 7px 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

// sortable

.sort_ul {
  width: 80%;
  font-size: 16px;
}

.sort_li {
  font-size: 15px;
  height: 40px;
  background-color: #FFF;
  border: 1px solid gray;
  margin-bottom: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.handle {
  font-size: 15px;
  padding-right: 10px;
  cursor: grab;
}

.blue-background {
  background-color: rgb(190, 235, 253);
}

.sort-delete-btn {
  float: right;
  color: black;
  background-color: #FFF;
  font-size: 11px;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
}

.sort-delete-btn:hover {
  opacity: 0.6;
}

// /sortable

// search

.search-box {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.search-header {
  width: 100%;
  padding:10px 20px;
  background-color: #e0e0e0;
  font-size: 16px;
}

.fa-search {
  margin-right: 5px;
  font-size: 15px;
}

.search-form-box {
  padding: 20px 0;
}

.search-label {
  font-size: 14px;
  margin-left: 10px;
}

.search-form {
  width: 150px;
  height: 30px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.input-label {
  margin-right: 10px;
  font-size: 15px;
}

.search-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-item {
  height: 35px;
  width: 500px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.search-result {
  width: 500px;
  background-color: #f0f0f0;
  font-size: 14px;
  position: absolute;
  top: 35px;
  left: 17.5vw;
}

.child {
  border-bottom:#666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
  padding-bottom: 5px;
  cursor: default;
}

.child:hover {
  opacity: 0.6;
}

.submit-post {
  width: 100%;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

.search-submit-btn {
  width: 85px;
  height: 32px;
  color: #FFF;
  background-color: rgb(56, 123, 211);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
	cursor:pointer;
}

.search-submit-btn:hover {
  opacity: 0.7;
}

.search-submit-btn > .fa-search {
  font-size: 13px;
}

// /search

// 一覧

.item-lists {
  width: 100%;
  font-size: 14px;
}

.item-lists a {
  text-decoration: none;
}

.item-lists th {
  border-bottom: 2px double #c0c0c0;
  text-align: left;
  height: 30px;
  font-weight: bold;
}

.item-lists th a{
  color: #1f4570;
}

.item-lists td {
  height: 20px;
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
}

.td-show {
  text-align: center;
  width: 80px
}

.td-collection {
  width: 100px;
}

.td-item {
  width: 180px;
}

.td-category {
  width: 100px;
}

.td-material {
  width: 80px;
}

.td-color {
  width: 80px;
}

.td-price {
  width: 80px;
}


.td-edit {
  width: 40px;
  text-align: center;
}

.td-destroy {
  width: 60px;
  text-align: center;
}

.show-link {
  color: #FFF;
  background-color: rgb(56, 123, 211);
  border:1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
}

.edit-link, .destroy-link {
  font-size: 12px;
  color: #FFF;
  background-color: #909090;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
}

.show-link:hover, .edit-link:hover, .destroy-link:hover {
  opacity: 0.6;
}

// /一覧

// 検索結果

.back-link {
  margin-bottom: 20px ;
  width: 100%;
}

.back-link a {
  font-size: 14px;
  text-decoration: none;
  color: #1f4570;
  float: left;
}

.back-link a:hover {
  opacity: 0.7;
}

.preview-image img{
  width: 150px;
}

.item-name-search {
  height: 30px;
  width: 500px;
}

